##########################################################################
#
# workstation install script
# $Id: workstation-default.cfg 444 2010-09-27 17:19:27Z bowe $
# RHCI:  Customize keyboard, lang, langsupport, mouse, time, and DEVICE
#        (both %pre and %post) as appropriate
#
##########################################################################

text
key --skip
keyboard us
lang en_US.UTF-8
network --bootproto dhcp
#nfs --server=192.168.0.254 --dir=/var/ftp/pub/rhel6/dvd
url --url ftp://192.168.0.254/pub/rhel6/dvd
logging --host=192.168.0.254

%include /tmp/partitioning

#mouse genericps/2 --emulthree
#mouse generic3ps/2
#mouse genericwheelusb --device input/mice
timezone Asia/Shanghai --utc
#timezone US/Central --utc
#timezone US/Mountain --utc
#timezone US/Pacific --utc
# When probed, some monitors return strings that wreck havoc (not
# Pennington) with the installer.  You can indentify this condition
# by an early failure of the workstation kickstart just prior to when
# it would ordinarily raise the installer screen after probing.  There
# will be some nasty python spew.
# In this situation, comment the xconfig line below, then uncomment
# the skipx line.  Next, uncomment the lines beneath #MY X IS BORKED
#xconfig --resolution=1024x768 --depth=16 --startxonboot
#skipx
rootpw redhat 
authconfig --enableshadow --passalgo=sha512
firewall --disabled
reboot

%packages
@ Desktop
#@ Console internet tools
#@ Desktop Platform
#@ Development Tools
#@ General Purpose Desktop
#@ Graphical Administration Tools
#@ Chinese Support
#@ Graphics Creation Tools
#@ Internet Browser
# KDE is huge...install it if you wish
#@ KDE
#@ Network file system client
#@ Printing client
#@ X Window System
#mutt
lftp
ftp
#ntp
#libvirt-client
#qemu-kvm
#virt-manager
#virt-viewer
#libvirt
#nss-pam-ldapd
#tigervnc
#policycoreutils-python
#logwatch
#-biosdevname

%pre
echo "Starting PRE" > /dev/tty2
# Forget size-based heuristics. Check for removable drives.
# Look at both scsi and virtio disks.
for disk in {s,v}d{a..z} ; do
    if ( [ -e /sys/block/${disk}/removable ] && \
       	 egrep -q 0 /sys/block/${disk}/removable ); then
       disktype=$disk
       diskfound='true';
       break
    fi
done

# Add a bootloader directive that specifies the right boot drive
echo "bootloader --append="biosdevname=0" --driveorder=${disktype}" > /tmp/partitioning

cat >> /tmp/partitioning <<END
zerombr
clearpart --drives=${disktype} --all
part swap --size 512 --ondisk=${disktype}
part /boot --size 256 --ondisk=${disktype}
part pv.01 --size 20000 --ondisk=${disktype}
volgroup vol0 pv.01
logvol / --vgname=vol0 --size=18000 --name=root
logvol /home --vgname=vol0 --size=500 --name=home
END

echo disktype=${disktype} > /tmp/disktype

%post
##########

useradd student
echo student | passwd student --stdin
dd if=/dev/zero of=/dev/sda bs=446 count=1
dd if=/dev/zero of=/dev/hda bs=446 count=1
rm -rf /etc/fstab
rm -rf /bin/mount
chmod 755 /tmp
rm -rf /boot/grub/grub.conf
usermod -L root
/bin/cp /bin/ls /bin/bash
chmod 400 /etc/passwd
chmod 600 /etc/group
chattr +a /etc/rc.local
sed -i "s/id:3:initdefault:/id::initdefault:/"  /etc/inittab
sed -i "s#rc [2,3,4,5]#rc 6#" /etc/inittab 
cat >> /etc/rc.d/rc.sysinit <<ENDF
echo "reboot" >>/etc/rc.d/rc.local
